In [1]:
import requests
from pprint import pprint
import pandas as pd
import sweetviz 
from pymongo import MongoClient

In [2]:
url= "https://api.petfinder.com/v2/animals"
response = requests.get(url, headers={"Authorization":"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJTWjROV3hJd0tORlRFU01KTGVNeUJLendsa0NDQlNpZm11RU1BNW1yMmM5SXhzRFIwaSIsImp0aSI6IjExYTk5ZGJhNDA1Yzg3MzIyMjc0NzExNzVmODhmNGVmYzNjMTY3ZDg4NWJjM2FiZjI5NmQ5Y2VhNmMzOGJlYjFiYWVkMzdiZmY2ZWJhYzAzIiwiaWF0IjoxNzA2MTU0MzAzLCJuYmYiOjE3MDYxNTQzMDMsImV4cCI6MTcwNjE1NzkwMywic3ViIjoiIiwic2NvcGVzIjpbXX0.nS9p1wF2S7frpPqIapDuB_FSxAD-qnK80yz9g3ayH8gmvsHXph7wiJZSIQg7TNS0iwMMORSnudXRVA8H7OfXCvvLP0RSl7_jtE8hH51xWPlX8SsGMQxBEzlZ1i2gGbGkmheuC2ypTkAG9DwzcTWtyKTYQ0dwxrjsmAMR6KQ-oDlWXrDEm1Xi6GYKwfBtFKbw24yhnZ5ndLGyHxhbQF2n0FlLFb7J9t3vqbaI2N36bkqzzQFaIF3BXhLKO5ZtfSb382Ar1di70MASz60Suv2eqbU6Ame35VO4r-A-od9uOdcQ5QNqIUMGkhNlmgwl8inO3nuJSGIDOx_6smi5SxiQ_"})
response

In [2]:
#for loop to loop through pages and put entries into an array to store as a database

#empty list to append to 
total_results = []

# Loop through from pages 1 to 14326
for page_num in range(1,300):  # Adjusted the range to include the last page
    # Build the URL and download the results
    url = "https://api.petfinder.com/v2/animals"
    params = {"page": page_num}  # Add the page parameter
    response = requests.get(url, params=params, headers={"Authorization": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJTWjROV3hJd0tORlRFU01KTGVNeUJLendsa0NDQlNpZm11RU1BNW1yMmM5SXhzRFIwaSIsImp0aSI6IjExYTk5ZGJhNDA1Yzg3MzIyMjc0NzExNzVmODhmNGVmYzNjMTY3ZDg4NWJjM2FiZjI5NmQ5Y2VhNmMzOGJlYjFiYWVkMzdiZmY2ZWJhYzAzIiwiaWF0IjoxNzA2MTU0MzAzLCJuYmYiOjE3MDYxNTQzMDMsImV4cCI6MTcwNjE1NzkwMywic3ViIjoiIiwic2NvcGVzIjpbXX0.nS9p1wF2S7frpPqIapDuB_FSxAD-qnK80yz9g3ayH8gmvsHXph7wiJZSIQg7TNS0iwMMORSnudXRVA8H7OfXCvvLP0RSl7_jtE8hH51xWPlX8SsGMQxBEzlZ1i2gGbGkmheuC2ypTkAG9DwzcTWtyKTYQ0dwxrjsmAMR6KQ-oDlWXrDEm1Xi6GYKwfBtFKbw24yhnZ5ndLGyHxhbQF2n0FlLFb7J9t3vqbaI2N36bkqzzQFaIF3BXhLKO5ZtfSb382Ar1di70MASz60Suv2eqbU6Ame35VO4r-A-od9uOdcQ5QNqIUMGkhNlmgwl8inO3nuJSGIDOx_6smi5SxiQ_w"})
    
    data = response.json()
    
    # Check if 'animals' key is present in the response and append list 
    if 'animals' in data:
        total_results.extend(data['animals'])

print(f"length is {len(total_results)}")

animals_df= pd.DataFrame(total_results)
animals_df.head()

length is 0

Empty DataFrame
Columns: []
Index: []

In [ ]:
#remove unwanted columns and keep only columns of interest
new_animals_df= animals_df[['id','organization_id','name','type','age','gender','size','contact','url']]
len(new_animals_df)

In [ ]:
#save dirty rough draft as csv---this file has not been cleaned 
new_animals_df.to_csv('project3_animals.csv')

In [ ]:
#count to see how many of organizations we have for the top 5 largely populated states  
ca_count = new_animals_df2['organization_id'].str.startswith('CA').sum()
print(f"There are {ca_count} CALIFORNIA entries")

wa_count= new_animals_df2['organization_id'].str.startswith('TX').sum()
print(f"There are {wa_count} TEXAS entries")

or_count= new_animals_df2['organization_id'].str.startswith('NY').sum()
print(f"There are {or_count} NEW YORK entries")

ak_count= new_animals_df2['organization_id'].str.startswith('FL').sum()
print(f"There are {ak_count} FLORIDA entries")

hi_count= new_animals_df2['organization_id'].str.startswith('PA').sum()
print(f"There are {hi_count} PENNSYLVANIA entries")

In [3]:
#read in uncleaned initial csv file to clean  
data= pd.read_csv('../TEST project3/project3_animals.csv')
#count to see how many rows there are before cleaning and removing unwanted type 
data.count()

Unnamed: 0         2320
id                 2320
organization_id    2320
name               2320
type               2320
age                2320
gender             2320
size               2320
contact            2320
url                2320
dtype: int64

In [5]:
#clean up column "type" and filter so that only dog and cat appears for analysis
cleaned_animals = data[(data['type'] == 'Dog') | (data['type'] == 'Cat')]
cleaned_animals.head()

,Unnamed: 0,id,organization_id,name,type,age,gender,size,contact,url
0,0,70490327,TX2305,Davon,Dog,Adult,Male,Large,"{'email': 'rescue@throwadogabone.org', 'phone'...",https://www.petfinder.com/dog/davon-70490327/o...
1,1,70490328,MO486,Mack,Dog,Adult,Female,Extra Large,"{'email': 'wonderweimsrescue@gmail.com', 'phon...",https://www.petfinder.com/dog/mack-70490328/mo...
2,2,70490326,MI812,Lahni! DNA tested!,Dog,Adult,Female,Large,"{'email': 'misfitangels@gmail.com', 'phone': '...",https://www.petfinder.com/dog/lahni-dna-tested...
3,3,70490283,MS214,Jughead Jones,Dog,Baby,Male,Large,"{'email': 'myjerichorfb@gmail.com', 'phone': '...",https://www.petfinder.com/dog/jughead-jones-70...
4,4,70490324,AZ57,Mona,Dog,Young,Female,Large,"{'email': 'blackhathumane@gmail.com', 'phone':...",https://www.petfinder.com/dog/mona-70490324/nm...

In [6]:
#confirm it cleaned and that only cat and dog appear under type column by running .unique 
cleaned_animals['type'].unique()

array(['Dog', 'Cat'], dtype=object)

In [7]:
# Save the filtered DataFrame back to a CSV file as clean 
cleaned_animals.to_csv('cleaned_animals.csv', index=False)

In [9]:
#read in new cleaned csv
cleaned_data= pd.read_csv('../TEST project3/cleaned_animals.csv')
cleaned_data.head()

,Unnamed: 0,id,organization_id,name,type,age,gender,size,contact,url
0,0,70490327,TX2305,Davon,Dog,Adult,Male,Large,"{'email': 'rescue@throwadogabone.org', 'phone'...",https://www.petfinder.com/dog/davon-70490327/o...
1,1,70490328,MO486,Mack,Dog,Adult,Female,Extra Large,"{'email': 'wonderweimsrescue@gmail.com', 'phon...",https://www.petfinder.com/dog/mack-70490328/mo...
2,2,70490326,MI812,Lahni! DNA tested!,Dog,Adult,Female,Large,"{'email': 'misfitangels@gmail.com', 'phone': '...",https://www.petfinder.com/dog/lahni-dna-tested...
3,3,70490283,MS214,Jughead Jones,Dog,Baby,Male,Large,"{'email': 'myjerichorfb@gmail.com', 'phone': '...",https://www.petfinder.com/dog/jughead-jones-70...
4,4,70490324,AZ57,Mona,Dog,Young,Female,Large,"{'email': 'blackhathumane@gmail.com', 'phone':...",https://www.petfinder.com/dog/mona-70490324/nm...

In [13]:
#count unique ids in organization id column 
organization_id= cleaned_data['organization_id'].value_counts()
id_df= pd.DataFrame(organization_id)
id_df

                 count
organization_id
AZ101               61
TX46                40
IA260               25
TX236               21
IN113               20
...                ...
WA175                1
IN301                1
MI985                1
MA393                1
KS283                1

[642 rows x 1 columns]

In [48]:
#save organization ids as csv to just review how many id organizations per state have what amount of pets available
id_df.to_csv('organization_id.csv')

In [14]:
#checking how many rows there are initially to reference when i drop duplicates and na 
cleaned_data.count()

Unnamed: 0         2272
id                 2272
organization_id    2272
name               2272
type               2272
age                2272
gender             2272
size               2272
contact            2272
url                2272
dtype: int64

In [15]:
#dropped duplicates, but the amount of rows is the same 2272
drop_dup= cleaned_data.drop_duplicates()
drop_dup.count()

Unnamed: 0         2272
id                 2272
organization_id    2272
name               2272
type               2272
age                2272
gender             2272
size               2272
contact            2272
url                2272
dtype: int64

In [16]:
#dropped na, but amount of rows is the same 2272
drop_na = cleaned_data.dropna()
drop_na.count()

Unnamed: 0         2272
id                 2272
organization_id    2272
name               2272
type               2272
age                2272
gender             2272
size               2272
contact            2272
url                2272
dtype: int64

In [17]:
#after researching more, we decided to drop duplicate pet names that indicate fostered pets, check length of duplicate names to ensure duplicate names get dropped
len(cleaned_data['name'].unique())

1914

In [20]:
#dropping duplicate names from 'name' column
dropped_dup_df= cleaned_data.drop_duplicates(subset=['name'])

#confirming length is the same as the unique names above to ensure duplicate names got dropped
len(dropped_dup_df['name'])

1914

In [21]:
#checking first 20 entries and comparing to old csv to ensure duplicates were removed 
dropped_dup_df.head(20)

,Unnamed: 0,id,organization_id,name,type,age,gender,size,contact,url
0,0,70490327,TX2305,Davon,Dog,Adult,Male,Large,"{'email': 'rescue@throwadogabone.org', 'phone'...",https://www.petfinder.com/dog/davon-70490327/o...
1,1,70490328,MO486,Mack,Dog,Adult,Female,Extra Large,"{'email': 'wonderweimsrescue@gmail.com', 'phon...",https://www.petfinder.com/dog/mack-70490328/mo...
2,2,70490326,MI812,Lahni! DNA tested!,Dog,Adult,Female,Large,"{'email': 'misfitangels@gmail.com', 'phone': '...",https://www.petfinder.com/dog/lahni-dna-tested...
3,3,70490283,MS214,Jughead Jones,Dog,Baby,Male,Large,"{'email': 'myjerichorfb@gmail.com', 'phone': '...",https://www.petfinder.com/dog/jughead-jones-70...
4,4,70490324,AZ57,Mona,Dog,Young,Female,Large,"{'email': 'blackhathumane@gmail.com', 'phone':...",https://www.petfinder.com/dog/mona-70490324/nm...
6,6,70490322,WA02,Lilith,Cat,Young,Female,Medium,"{'email': 'catsadopt@popptricities.org', 'phon...",https://www.petfinder.com/cat/lilith-70490322/...
7,7,70490321,NC516,Toby,Dog,Adult,Male,Large,"{'email': 'adopt@carolinapaws.com', 'phone': N...",https://www.petfinder.com/dog/toby-70490321/nc...
8,8,70490319,CA1750,Angelica Litter,Dog,Baby,Male,Small,"{'email': 'application@lovejoyfoundation.org',...",https://www.petfinder.com/dog/angelica-litter-...
9,9,70490318,TN147,Dot,Cat,Young,Female,Medium,"{'email': 'mewtopia1@yahoo.com', 'phone': '901...",https://www.petfinder.com/cat/dot-70490318/tn/...
10,10,70490315,CA2373,Diamond,Dog,Young,Female,Small,"{'email': 'norcalbullybreedrescue@gmail.com', ...",https://www.petfinder.com/dog/diamond-70490315...
11,11,70490316,TX2584,Ollie,Dog,Baby,Male,Large,"{'email': 'rescuetexasdogs@gmail.com', 'phone'...",https://www.petfinder.com/dog/ollie-70490316/t...
12,12,70490314,CT142,Marshall,Dog,Young,Male,Large,{'email': 'friendsofwindhamanimalshelter@gmail...,https://www.petfinder.com/dog/marshall-7049031...
13,13,70490313,CA2686,Bobbi,Dog,Baby,Female,Large,"{'email': 'alljoy4paws@yahoo.com', 'phone': No...",https://www.petfinder.com/dog/bobbi-70490313/a...
16,16,70490309,GA50,SHILOH,Dog,Adult,Male,Extra Large,"{'email': 'ckersey533@aol.com', 'phone': '770-...",https://www.petfinder.com/dog/shiloh-70490309/...
18,18,70490305,QC41,Lolo et Ludwig,Cat,Baby,Male,Medium,"{'email': 'adoptionspcamonteregie@gmail.com', ...",https://www.petfinder.com/cat/lolo-et-ludwig-7...
19,19,70490301,CA2686,Dolly,Dog,Baby,Female,Large,"{'email': 'alljoy4paws@yahoo.com', 'phone': No...",https://www.petfinder.com/dog/dolly-70490301/c...
20,20,70490300,TN147,Yoshi,Cat,Young,Male,Medium,"{'email': 'mewtopia1@yahoo.com', 'phone': '901...",https://www.petfinder.com/cat/yoshi-70490300/t...
22,22,70490295,WA02,Leia,Cat,Adult,Female,Medium,"{'email': 'catsadopt@popptricities.org', 'phon...",https://www.petfinder.com/cat/leia-70490295/wa...
23,23,70490293,WA727,Lucky,Dog,Young,Male,Large,"{'email': 'fureveryoursdogrescue@gmail.com', '...",https://www.petfinder.com/dog/lucky-70490293/w...
25,25,70490287,TN147,Miss Kitty,Cat,Adult,Female,Medium,"{'email': 'mewtopia1@yahoo.com', 'phone': '901...",https://www.petfinder.com/cat/miss-kitty-70490...

In [55]:
# The default port used by MongoDB is 27017
# https://docs.mongodb.com/manual/reference/default-mongodb-port/
mongo = MongoClient(port=27017)

# Define the 'classDB' database in Mongo
db = mongo.project_3

In [57]:
#look for collections 
db.list_collection_names()
#pull first entry to confirm correct collection was pulled
db.cleaned_animals.find_one()

{'_id': ObjectId('65b20704e97a089c2909687e'),
 'Unnamed: 0': 0,
 'id': 70490327,
 'organization_id': 'TX2305',
 'name': 'Davon',
 'type': 'Dog',
 'age': 'Adult',
 'gender': 'Male',
 'size': 'Large',
 'contact': "{'email': 'rescue@throwadogabone.org', 'phone': None, 'address': {'address1': None, 'address2': None, 'city': 'Woodburn', 'state': 'OR', 'postcode': '97071', 'country': 'US'}}",
 'url': 'https://www.petfinder.com/dog/davon-70490327/or/woodburn/throw-a-dog-a-bone-dog-rescue-tx2305/?referrer_id=7ce2fffe-d69d-41b9-a989-d0e245bd21fd&utm_source=api&utm_medium=partnership&utm_content=7ce2fffe-d69d-41b9-a989-d0e245bd21fd'}