In [1]:
import pandas as pd

In [4]:
animals= pd.read_csv('../kenia\'s analysis/final_animals_jan29.csv')
animals.head(10)

,Unnamed: 0,id,organization_id,name,type,age,gender,size,url
0,0,70490327,TX2305,Davon,Dog,Adult,Male,Large,https://www.petfinder.com/dog/davon-70490327/o...
1,1,70490328,MO486,Mack,Dog,Adult,Female,Extra Large,https://www.petfinder.com/dog/mack-70490328/mo...
2,2,70490326,MI812,Lahni! DNA tested!,Dog,Adult,Female,Large,https://www.petfinder.com/dog/lahni-dna-tested...
3,3,70490283,MS214,Jughead Jones,Dog,Baby,Male,Large,https://www.petfinder.com/dog/jughead-jones-70...
4,4,70490324,AZ57,Mona,Dog,Young,Female,Large,https://www.petfinder.com/dog/mona-70490324/nm...
5,6,70490322,WA02,Lilith,Cat,Young,Female,Medium,https://www.petfinder.com/cat/lilith-70490322/...
6,7,70490321,NC516,Toby,Dog,Adult,Male,Large,https://www.petfinder.com/dog/toby-70490321/nc...
7,8,70490319,CA1750,Angelica Litter,Dog,Baby,Male,Small,https://www.petfinder.com/dog/angelica-litter-...
8,9,70490318,TN147,Dot,Cat,Young,Female,Medium,https://www.petfinder.com/cat/dot-70490318/tn/...
9,10,70490315,CA2373,Diamond,Dog,Young,Female,Small,https://www.petfinder.com/dog/diamond-70490315...

In [12]:

# Example DataFrame
animals_2 = pd.DataFrame(animals)

# Extract the first two letters into a new "States" column
animals_2['state'] = animals['organization_id'].str[:2]

# Display the resulting DataFrame
animals_2.tail(20)

,Unnamed: 0,id,organization_id,name,type,age,gender,size,url,state
1894,2239,70487049,GA70,Roo,Dog,Baby,Male,Large,https://www.petfinder.com/dog/roo-70487049/ga/...,GA
1895,2240,70487053,GA70,Eugene,Dog,Baby,Male,Large,https://www.petfinder.com/dog/eugene-70487053/...,GA
1896,2241,70487045,TX2471,55155253,Dog,Baby,Male,Small,https://www.petfinder.com/dog/55155253-7048704...,TX
1897,2242,70487046,TX2471,55155236,Dog,Baby,Male,Medium,https://www.petfinder.com/dog/55155236-7048704...,TX
1898,2243,70487044,TX2471,AXEL,Dog,Adult,Male,Medium,https://www.petfinder.com/dog/axel-70487044/tx...,TX
1899,2244,70487043,TX2471,Thea,Dog,Young,Female,Medium,https://www.petfinder.com/dog/thea-70487043/tx...,TX
1900,2245,69436524,TX1918,Hot Rod,Dog,Adult,Male,Small,https://www.petfinder.com/dog/hot-rod-69436524...,TX
1901,2247,70487038,CA738,THANOS,Dog,Adult,Male,Large,https://www.petfinder.com/dog/thanos-70487038/...,CA
1902,2248,70487037,ID49,Balin 40696,Dog,Baby,Male,Medium,https://www.petfinder.com/dog/balin-40696-7048...,ID
1903,2249,70487036,ID49,Fili 40694,Dog,Baby,Male,Medium,https://www.petfinder.com/dog/fili-40694-70487...,ID
1904,2252,70487032,WI551,Sienna,Cat,Baby,Female,Medium,https://www.petfinder.com/cat/sienna-70487032/...,WI
1905,2253,70487028,CA2686,Mama Luna,Dog,Young,Female,Medium,https://www.petfinder.com/dog/mama-luna-704870...,CA
1906,2257,70487023,WI111,Pete,Cat,Young,Male,Medium,https://www.petfinder.com/cat/pete-70487023/wi...,WI
1907,2258,70487018,CA912,Lulu,Cat,Young,Female,Small,https://www.petfinder.com/cat/lulu-70487018/ca...,CA
1908,2259,70487017,CA912,Biscuit,Cat,Young,Male,Small,https://www.petfinder.com/cat/biscuit-70487017...,CA
1909,2264,70487012,CA912,Turkina,Cat,Young,Female,Small,https://www.petfinder.com/cat/turkina-70487012...,CA
1910,2266,70487015,CA912,Wyatt,Dog,Young,Male,Small,https://www.petfinder.com/dog/wyatt-70487015/c...,CA
1911,2269,70487006,GA803,Hilda,Dog,Adult,Female,Small,https://www.petfinder.com/dog/hilda-70487006/g...,GA
1912,2270,70487003,WA780,Erik,Dog,Adult,Male,Medium,https://www.petfinder.com/dog/erik-70487003/or...,WA
1913,2271,70487004,KS283,Moon,Cat,Baby,Female,Medium,https://www.petfinder.com/cat/moon-70487004/ks...,KS

In [9]:
len(animals_2)

1914

In [15]:
#remove unwanted columns and keep only columns of interest
new_animals_df2= animals_2[['id','organization_id','state','name','type','age','gender','size','url']]
new_animals_df2.head()

,id,organization_id,state,name,type,age,gender,size,url
0,70490327,TX2305,TX,Davon,Dog,Adult,Male,Large,https://www.petfinder.com/dog/davon-70490327/o...
1,70490328,MO486,MO,Mack,Dog,Adult,Female,Extra Large,https://www.petfinder.com/dog/mack-70490328/mo...
2,70490326,MI812,MI,Lahni! DNA tested!,Dog,Adult,Female,Large,https://www.petfinder.com/dog/lahni-dna-tested...
3,70490283,MS214,MS,Jughead Jones,Dog,Baby,Male,Large,https://www.petfinder.com/dog/jughead-jones-70...
4,70490324,AZ57,AZ,Mona,Dog,Young,Female,Large,https://www.petfinder.com/dog/mona-70490324/nm...

In [16]:
new_animals_df2.to_csv('jan29_states_final.csv')